[Desktop Entry]
Encoding=UTF-8
Name=gmsh
Comment=A 3D mesh generator
Comment[pl]=Generator siatki 3D
Icon=gmsh.png
Exec=gmsh
Terminal=false
Type=Application
Categories=Utility;Engineering;
# vi: encoding=utf-8
